<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="directorios"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (submit)="onSubmit(validationsForm.value)">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Mis Datos de Facturación</ion-label>
      </ion-list-header>

      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">Tipo de Documento</ion-label>
        <ion-select formControlName="tipo" cancelText="Cancelar" okText="Aceptar">
          <ion-select-option *ngFor="let item of tipos" [value]="item.id">{{item.tipo}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">Número</ion-label>
        <ion-input type="text" formControlName="numero" clearInput></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.numero">
          <div class="error-message"
            *ngIf="validationsForm.get('numero').hasError(validation.type) && (validationsForm.get('numero').dirty || validationsForm.get('numero').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">Nombre o Razón Social</ion-label>
        <ion-input type="text" formControlName="nombre" clearInput></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.nombre">
          <div class="error-message"
            *ngIf="validationsForm.get('nombre').hasError(validation.type) && (validationsForm.get('nombre').dirty || validationsForm.get('nombre').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">Dirección</ion-label>
        <ion-input type="text" formControlName="direccion" clearInput></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.direccion">
          <div class="error-message"
            *ngIf="validationsForm.get('direccion').hasError(validation.type) && (validationsForm.get('direccion').dirty || validationsForm.get('direccion').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="text" formControlName="correo" clearInput inputmode="email">
        </ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.correo">
          <div class="error-message"
            *ngIf="validationsForm.get('correo').hasError(validation.type) && (validationsForm.get('correo').dirty || validationsForm.get('correo').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <!-- </ion-list>

    <ion-list class="inputs-list" lines="full"> -->

      <div>
        <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
        <ion-item class="input-item item-label-floating">
          <ion-label position="floating">País</ion-label>
          <ion-select formControlName="pais" cancelText="Cancelar" okText="Aceptar">
            <ion-select-option *ngFor="let item of countries" [value]="item.iso">{{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
        <ion-item class="input-item item-label-floating">
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input clearInput type="text" formControlName="telefono"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.telefono">
            <div class="error-message"
              *ngIf="validationsForm.get('telefono').hasError(validation.type) && (validationsForm.get('telefono').dirty || validationsForm.get('telefono').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </ion-list>

    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Términos y Condiciones</ion-label>
      </ion-list-header>

      <ion-item class="input-item terms-item">
        <ion-label>Acepto los términos y condiciones</ion-label>
        <ion-checkbox formControlName="terms"></ion-checkbox>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.terms">
          <div class="error-message"
            *ngIf="validationsForm.get('terms').hasError(validation.type) && (validationsForm.get('terms').dirty || validationsForm.get('terms').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!validationsForm.valid">
      Guardar</ion-button>
  </form>

  <ion-col size="12">
    <ion-button class="sign-out-btn" expand="block" fill="outline" color="bright-blue" (click)="signOut()">Cerrar Sesión
    </ion-button>
  </ion-col>

</ion-content>