<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="clases"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title>
      Política
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="legal-content">
  <h3 class="legal-title">Política de Protección y Tratamiento de Datos Personales</h3>
  <p class="legal-text">
    SOFCOR SAS. es una compañía líder en Colombia que tiene como actividad principal conectar consumidores con
    expendedores
    por medio de una plataforma virtual compuesta por una página Web y una aplicación móvil, para que los consumidores
    ingresen, se informen sobre los productos de consumo exhibidos y puedan realizar la transacción de compraventa
    directamente con los expendedores de manera electrónica, y en general todo tipo de actividades complementarias.
    SOFCOR SAS., con la finalidad de dar cumplimiento estricto a la normatividad vigente de protección de Datos
    Personales,
    de acuerdo a lo establecido en la Ley 1581 del 2012, Decreto 1074 de 2015 y demás disposiciones que las modifiquen,
    adicionen o complementen presenta la siguiente POLÍTICA DE PROTECCIÓN Y TRATAMIENTO DE DATOS PERSONALES (en adelante
    “Política de Tratamiento”) con el propósito de proteger la información personal brindada por los Titulares que
    tengan
    relación con SOFCOR SAS. como lo son socios, proveedores, clientes, empleados, colaboradores y cualquier otra
    persona
    natural de la cual SOFCOR SAS., obtenga, recolecte, procese o trate datos personales, sea que dicho tratamiento sea
    realizado por SOFCOR SAS. o por terceras personas que lo hagan por encargo de ésta.
    La Política de Tratamiento tiene como objeto proteger el derecho constitucional del Habeas Data que tienen todas las
    personas para conocer, actualizar, y rectificar la información que se haya recogido y almacenado en las distintas
    bases
    de datos de SOFCOR SAS., y en virtud del cumplimiento de dicho derecho sólo recolecta y da Tratamiento a Datos
    Personales, cuando así haya sido autorizado previamente por su Titular, implementando para tal efecto, medidas
    claras
    sobre confidencialidad y privacidad de los Datos Personales. Así mismo, detalla los lineamientos generales
    corporativos
    que se tienen en cuenta con el fin de proteger los Datos Personales de los Titulares, las finalidades de Tratamiento
    de
    la información, el área responsable de atender las quejas y reclamos, y los procedimientos que se deben agotar para
    conocer actualizar, rectificar y suprimir la información y los respectivos canales para que estos puedan ejercerlos.
  </p>
  <h3 class="legal-title">Autorización de Tratamiento de datos personales</h3>
  <p class="legal-text">
    Para SOFCOR SAS., sociedad debidamente constituida bajo las normas de la República de Colombia, identificada con Nit
    No.
    901170039-3 (en adelante, “SOFCOR”), proteger la privacidad de sus usuarios es muy importante. Por lo tanto, SOFCOR
    da
    estricto cumplimiento a lo dispuesto en la Ley Estatutaria 1581 de 2012, reglamentada parcialmente por los Decretos
    1377
    de 2013 y Decreto 886 de 2014, normas compiladas en el Decreto Único Nacional del Sector Comercio, Industria y
    Turismo
    1074 de 2015 y aquellas normas que lo modifiquen. SOFCOR le informa que sus datos serán tratados conforme a la
    POLÍTICA
    DE TRATAMIENTO DE DATOS PERSONALES que se encuentra publicada tanto en la plataforma virtual.
    En este caso SOFCOR actúa como Responsable del Tratamiento de los Datos Personales, por lo que mantendrá almacenados
    estos datos y guardará su confidencialidad atendiendo los requisitos y medidas de seguridad exigidos por la ley.
    El tratamiento que le dará SOFCOR a los datos personales recolectados (nombres y apellidos, número celular,
    dirección,
    correo electrónico, número de cédula, fecha de nacimiento, género) se limitará a la recolección, almacenamiento,
    uso,
    circulación mediante el uso de servidores que pueden estar ubicados en el exterior de acceso exclusivo de SOFCOR, de
    su
    controlante, otras subordinadas o de sus proveedores, para las finalidades descritas en esta autorización, por medio
    de
    las aplicaciones móviles, sitios web y otros productos y servicios online. Una vez se cumplan con las finalidades
    del
    tratamiento para la cual se otorgó autorización por parte del titular, los datos personales serán suprimidos de las
    bases de datos de SOFCOR.
    Finalidades de Tratamiento: El titular de la información acepta de manera expresa, voluntaria e informada el
    tratamiento
    de sus datos personales y para que estos sean consignados, sean recopilados y almacenados en las bases de datos de
    SOFCOR conforme a las finalidades que a continuación se enuncian:
    (i) Recabar o recolectar los datos personales e incorporarlos y almacenarlos en nuestra base de datos; (ii) Ordenar,
    catalogar, clasificar, dividir o separar la información suministrada; (iii) Utilizar los datos suministrados en
    campañas
    de comunicación, divulgación y promoción u oferta de productos, actividades y/o servicios desarrollados como parte
    de
    estrategias internas de la compañía; (iv) Conservar registros históricos de la compañía y mantener contacto con los
    titulares del dato; (v) Verificar, comprobar o validar los datos suministrados; (vi) Estudiar y analizar la
    información
    entregada para el seguimiento y mejoramiento de los productos, el servicio y la atención; (vii) Entregar la
    información
    recolectada a terceros con los que la compañía contrate el almacenamiento y administración de los datos personales,
    bajo
    los estándares de seguridad y confidencialidad a los cuales SOFCOR está obligada según lo contenido en las leyes
    pertinentes; (viii)Transferir los datos personales a cualquier país o servidor en otro país; (ix) Comunicar y
    permitir
    el acceso a los datos personales suministrados a terceros proveedores de servicios de apoyo general y a las personas
    naturales o jurídicas accionistas de SOFCOR; (x) Recabar, tener, manejar y utilizar la información para realizar
    control
    y prevención del fraude, control y prevención de lavado de activos y financiación del terrorismo; (xi) Celebración,
    ejecución y gestión de las propuestas de negocios y contratos objeto de los servicios prestados; (xii) Realizar de
    conformidad con la ley los reportes a centrales de riesgo por incumplimiento de las obligaciones financieras
    derivadas
    de la relación comercial; (xiii) Envío de comunicaciones a través de cualquier canal incluyendo pero, sin limitarse
    a,
    redes sociales, mensajes de texto, notificaciones push, correo electrónico, llamada telefónica, etc., relacionadas
    con
    el objeto social de SOFCOR tales como actividades de mercadeo y/o cualquier solicitud realizada por el titular a
    SOFCOR,
    entre otros; (xiv) Prestar los servicios ofrecidos y/o contratados de forma adecuada y con una excelente calidad;
    (xv)
    Creación y administración de la cuenta del usuario; (xvi) Prestar el mantenimiento, desarrollo y/o control de la
    relación comercial entre el usuario y SOFCOR; (xvii) Proveer a los usuarios de la información necesaria, a través de
    la
    página Web y/o plataforma de contacto, sobre los productos de los oferentes, para formalizar la relación de consumo
    de
    dichos productos; (xviii) Realizar procesos al interior de la empresa, con fines de desarrollo operativo y/o de
    administración de sistemas; (xix) Prestar los servicios de la empresa y realizar el seguimiento de acuerdo con las
    necesidades particulares del usuario, con el fin de brindar los servicios y productos adecuados para cubrir sus
    necesidades específicas; (xx) Llevar un registro histórico de la información, con fines de satisfacción al usuario,
    desarrollando análisis sobre los intereses y necesidades; brindando de esta manera un mejor servicio; (xxi) Realizar
    estrategias de mercado mediante el estudio del comportamiento del usuario frente a las ofertas y con ello mejorar en
    su
    contenido, personalizando presentación y servicio; (xxii) Elaboración de prospecciones comerciales y segmentación de
    mercados; (xxiii) Realizar encuestas de satisfacción y ofrecimiento o reconocimiento de beneficios propios de
    nuestro
    programa de lealtad y servicio postventa, para calificar el servicio y la atención por medio de los canales
    dispuestos
    para ello; (xxiv) Adelantar las actividades necesarias para gestionar las solicitudes, quejas y reclamos de los
    usuarios
    de la empresa o terceros y direccionarlos a las áreas responsables de emitir las respuestas correspondientes; (xxv)
    Presentar reportes ante las autoridades de inspección, vigilancia y control, y tramitar los requerimientos
    realizados
    por entidades administrativas o judiciales; (xxvi) Gestión contable, económica, fiscal y administrativa de usuarios;
    (xxvii) Conservación de la información por los términos establecidos en la Ley, especialmente el referente a la
    información de los libros y papeles del comerciante que deberá ser almacenada por un período de diez (10) años,
    según lo
    dispone el artículo 28 de la Ley 962 de 2005; (xxviii)Transferencia o Transmisión de Datos Personales nacional o
    internacionalmente a terceros con los que SOFCOR desarrolle actividades en cumplimiento de su objeto social.
    Asimismo,
    se podrá hacer Transmisión o Transferencia a los aliados estratégicos de la empresa para que ejecuten actividades de
    marketing, publicidad y promociones asociadas con el objeto social; todo de acuerdo con las disposiciones de la
    normativa colombiana; (xxix) Remitir información a los Encargados del Tratamiento para facilitar y mejorar la
    calidad
    del servicio de SOFCOR; (xxx) Solicitar la autorización de cobro ante las entidades definidas y autorizadas para
    ello.
    SOFCOR podrá transmitir o transferir a terceros los datos personales de los que es Responsable. Los datos también
    podrán
    ser transferidos a otras empresas que se encuentren bajo la misma órbita de control de SOFCOR. Dichos terceros
    podrán
    estar ubicados en Colombia, o en otros países que, a juicio de la Superintendencia de Industria y Comercio,
    garanticen
    un nivel adecuado de protección de datos personales. Igualmente, podrán ser transferidos a, Argentina, Brasil,
    Chile,
    Costa Rica, Ecuador, Estados Unidos, México, Perú, Uruguay. Así mismo, el Titular autoriza a SOFCOR a transferir y
    transmitir sus datos personales a terceros aliados comerciales de SOFCOR que ofrecen sus productos y servicios en la
    Plataforma de SOFCOR, con el fin de hacer eficiente el contacto entre el Titular y el aliado comercial, en los
    términos
    del artículo 53 de la Ley 1480 de 2011.
    Derechos que le asisten al Titular: En caso en que el Titular de información otorgue autorización a SOFCOR para el
    tratamiento y procesamiento de sus datos personales, los titulares de información tendrán los siguientes
    derechos:(i)
    Conocer, actualizar y rectificar y/o suprimir sus datos personales recolectados por SOFCOR. Este derecho se puede
    ejercer entre otros frente a datos parciales, inexactos, incompletos, fraccionados o que induzcan al error, (ii)
    Solicitar prueba de la autorización otorgada a SOFCOR, (iii) Ser informado por SOFCOR, previa solicitud, respecto
    del
    uso que le han dado a los datos del titular, (iv) Presentar ante la Superintendencia de Industria y Comercio quejas
    por
    infracciones a lo dispuesto en la ley, (v) Revocar en cualquier tiempo la autorización de tratamiento de datos
    personales, teniendo en cuenta los límites legales para ello, (vi) Acceder en forma gratuita a los datos del titular
    contenidos en la base de datos de SOFCOR.
    Forma de conocer la información del Titular y cómo ejercer los derechos: SOFCOR presenta a elección del Titular las
    siguientes formas de ejercer sus derechos de “Habeas Data”:
    1. Atención electrónica: El Titular del dato podrá realizar la solicitud a través del Centro de Ayuda disponible en
    la
    plataforma de contacto SOFCOR.
    2. SIC Facilita: El Titular tiene la posibilidad de acudir al canal dispuesto por la Superintendencia de Industria y
    Comercio.
    Se podrá acceder a los Datos Personales si se cumple alguna las condiciones establecidas a continuación:
    3. Ser Titular de la información, acreditando la identidad en forma suficiente mediante cualquier medio que SOFCOR
    disponga para ello.
    4. Ser causahabiente, quien deberá acreditar tal calidad.
    5. Ser el representante/apoderado del Titular de la información, quien deberá acreditar tal calidad. </p>

  <h3 class="legal-title">DEFINICIONES</h3>
  <p class="legal-text">
    Dato personal: Cualquier información concerniente o vinculada a personas naturales determinadas o determinables.
    Titular del dato personal: Persona natural cuyos datos son objeto de tratamiento. En el contexto de la presente
    política
    de tratamiento de datos personales los titulares podrán ser: (i) suscriptores/Clientes de la plataforma; (ii)
    Contratistas; (iii) proveedores (iv) todas aquellas personas no vinculadas a SOFCOR SAS. de quien se haga
    tratamiento de
    los datos personales.
    Base de datos personales: Conjunto organizado de datos personales que son objeto de tratamiento por una persona
    natural
    o jurídica.
    Dato sensible: Es aquel dato personal que afecta la intimidad del Titular y cuyo uso incorrecto podría generar
    discriminación. Son considerados datos sensibles entre otros, los datos de salud, los datos de orientación sexual,
    origen racial y étnico, opiniones políticas, convicciones religiosas, filosóficas o morales.
    Dato privado: Es aquel dato personal que por su carácter íntimo o reservado es relevante para el Titular.
    Dato Semiprivado: Es aquel dato personal conocido y de interés tanto para el titular como para un determinado sector
    de
    personas o para la sociedad en general, por lo que no es de carácter íntimo, reservado o público.
    Dato público: Es aquel dato personal calificado como tal según la Constitución y la ley, y que no se ha clasificado
    como
    dato personal privado o semiprivado.
    Habeas data: Es el derecho que tiene el Titular de los datos personales de exigir de las administradoras de los
    mismos
    el acceso, inclusión, exclusión, corrección, adición, actualización y rectificación de los datos, así como la
    limitación
    en su divulgación, publicación o cesión.
    Autorización: Consentimiento previo, expreso e informado del Titular para llevar a cabo el tratamiento de datos
    personales.
    Aviso de privacidad: Comunicación verbal o escrita dirigida a los Titulares de los datos personales que están siendo
    tratados por la empresa, en la cual se le informa acerca de la existencia de las políticas de tratamiento de datos
    personales que le serán aplicadas, la forma de acceder a la mismas, y las finalidades para las cuales serán usados
    sus
    datos personales.
    Responsable del tratamiento: Persona natural o jurídica de carácter público o privado que por sí misma o en asocio
    con
    otro u otros decide sobre el tratamiento de datos personales. En este caso, será SOFCOR SAS. el Responsable del
    tratamiento.
    SOFCOR SAS.
    Dirección: Vereda Altamar Finca el Porvenir, La Calera.
    Correo electrónico: servicioalcliente@sofcor.co
    Teléfono:
    Encargado del tratamiento: Persona natural o jurídica, de carácter público o privado que por sí misma o en asocio
    con
    otros, realiza el tratamiento de datos personales por cuenta del responsable.
    Tratamiento: Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección,
    almacenamiento, uso, circulación o supresión.
    Custodio de las bases de datos: Persona natural, dentro de la empresa, que custodia las bases de datos personales.
    Transmisión: Tratamiento de Datos Personales que implica la comunicación a un tercero de los mismos, dentro o fuera
    del
    territorio de la República de Colombia, cuando dicha comunicación tenga por objeto la realización de un Tratamiento
    por
    el Encargado en nombre y por cuenta del Responsable, para cumplir con las finalidades de este último.
    Transferencia: La Transferencia de Datos Personales tiene lugar cuando el Responsable y/o Encargado del Tratamiento
    de
    Datos Personales envía la información o los datos personales a un receptor, que a su vez es responsable del
    tratamiento
    y se encuentra dentro o fuera del país.
    Violación de datos personales: Es el delito tipificado en el artículo 269 del Código Penal. El cual establece: “El
    que,
    sin estar facultado para ello, con provecho propio o de un tercero, obtenga, compile, sustraiga, ofrezca, venda,
    intercambie, envíe, compre, intercepte, divulgue, modifique o emplee códigos personales, datos personales contenidos
    en
    ficheros, archivos, bases de datos o medios semejantes, incurrirá en pena de prisión de cuarenta y ocho (48) a
    noventa y
    seis (96) meses y en multa de 100 a 1000 salarios mínimos legales mensuales vigentes.”
    Formas de recabar los datos personales: SOFCOR SAS. podrá conocer, recolectar, almacenar, administrar la información
    del
    titular de la información de conformidad con la política de uso de datos contenida en el presente documento a través
    de
    los siguientes medios: (i) Inscripción y uso de la aplicación móvil SOFCOR SAS.; (ii) Inscripción y uso de la página
    web
    de SOFCOR SAS.; (iii) suscripción de cualquier tipo de contrato, alianza y/o convenio con SOFCOR SAS.; (iv)
    Inscripción
    como proveedor de SOFCOR SAS.
    PRINCIPIOS RECTORES PARA EL TRATAMIENTO DE DATOS PERSONALES
    Según lo establecido en el Título II de la Ley Estatutaria 1581 de 2012, la protección de datos personales se regirá
    por
    la aplicación armónica e integral de los siguientes principios:
    Principio de legalidad en el tratamiento de datos personales: El tratamiento de datos personales a que se refiere la
    Ley
    Estatutaria 1581 de 2012 es una actividad reglada que debe sujetarse a lo establecido en ella y en las demás
    disposiciones que la desarrollen.
    Principio de finalidad: El tratamiento de los datos personales debe obedecer a una finalidad legítima de acuerdo con
    la
    Constitución y la ley, la cual debe ser informada al Titular.
    Principio de libertad: El tratamiento de los datos personales sólo puede ejercerse con el consentimiento, previo,
    expreso e informado del Titular. Los datos personales no podrán ser obtenidos o divulgados sin previa autorización,
    o en
    ausencia de mandato legal o judicial que releve el consentimiento.
    Principio de veracidad o calidad: La información sujeta a tratamiento debe ser veraz, completa, exacta, actualizada,
    comprobable y comprensible. Se prohíbe el Tratamiento de datos parciales, incompletos, fraccionados o que induzcan a
    error.
    Principio de transparencia: En el Tratamiento de los datos personales debe garantizarse el derecho del Titular a
    obtener
    del Responsable del tratamiento o del Encargado del tratamiento, en cualquier momento y sin restricciones,
    información
    acerca de la existencia de datos que le conciernan.
    Principio de seguridad: La información sujeta a tratamiento por el Responsable del Tratamiento o Encargado del
    tratamiento a que se refiere la Ley Estatutaria 1581 de 2012, se deberá manejar con las medidas técnicas, humanas y
    administrativas que sean necesarias para otorgar seguridad a los registros evitando su adulteración, pérdida,
    consulta,
    uso o acceso no autorizado o fraudulento.
    Principio de confidencialidad: Todas las personas que intervengan en el tratamiento de datos personales que no
    tengan la
    naturaleza de públicos están obligadas a garantizar la reserva de la información, inclusive después de finalizada su
    relación con alguna de las labores que comprende el tratamiento, pudiendo sólo realizar suministro o comunicación de
    datos personales cuando ello corresponda al desarrollo de las actividades autorizadas en la Ley Estatutaria 1581 de
    2012
    y en los términos de la misma.
    Principio de acceso y circulación restringida: El tratamiento se sujeta a los límites que se derivan de la
    naturaleza de
    los datos personales, de las disposiciones de la Ley Estatutaria 1581 de 2012 y la Constitución. En este sentido, el
    tratamiento sólo podrá hacerse por personas autorizadas por el Titular y/o por las personas previstas en la
    mencionada
    ley.
    DERECHOS DE LOS TITULARES
    En cumplimiento de las garantías fundamentales consagradas en la Constitución y la ley, y sin perjuicio de lo
    dispuesto
    en las demás normas que regulen la materia, los Titulares de los datos personales podrán ejercer de forma gratuita e
    ilimitadamente los siguientes derechos:
    Derecho al acceso a su información personal objeto de tratamiento.
    Derecho a la actualización de los datos personales objeto de tratamiento.
    Derecho a la rectificación de los datos personales objeto de tratamiento.
    Derecho de oposición a que los datos personales sean objeto de tratamiento
    Derecho a solicitar la supresión de los datos personales cuando en el tratamiento no se respeten los principios,
    derechos y garantías constitucionales y legales.
    Derecho a solicitar prueba de la autorización otorgada para el tratamiento.
    Derecho a revocar el consentimiento para el tratamiento de los datos personales.
    Derecho a presentar quejas y reclamos ante la Superintendencia de Industria y Comercio por infracciones a lo
    dispuesto
    en la Ley Estatutaria 1581 de 2012 y las demás normas que la modifiquen, adicionen o complementen.
    Derecho a ser informado por parte del Responsable y/o Encargado del uso y tratamiento que se les dará a los datos
    personales, así como de las modificaciones y actualizaciones de las políticas de protección, medidas de seguridad y
    finalidades.
    FORMA DE RECOLECTAR LOS DATOS
    Forma de recolección de los datos personales de los Usuarios/Clientes:
    La recolección de datos personales de usuarios potenciales y usuarios de SOFCOR SAS., se realizará de las siguientes
    formas:
    Mediante el almacenamiento automático de los datos de los usuarios que acceden a la plataforma de SOFCOR SAS. por el
    uso
    de cookies. Algunos de los datos que se pueden almacenar automáticamente son las URL, el navegador utilizado,
    dirección
    IP entre otros.
    Mediante el intercambio de correos electrónicos.
    Mediante el envío de mensajes a través de plataformas de mensajería instantánea.
    A través del acceso a páginas Web de la compañía.
    A través del acceso a la aplicación, creando el usuario y contraseña.
    A través de llamadas telefónicas.
    Mediante eventos realizados por SOFCOR SAS.
    Mediante las transmisión o transferencia por parte de Aliados estratégicos.
    Forma de recolección de Proveedores
    La recolección de datos personales de los proveedores se realizará de las siguientes formas:
    A través de ofertas de servicios.
    A través del intercambio de correos electrónicos.
    A través del contrato de cooperación.
    A través del contrato de prestación de servicios.
    A través portafolios de servicios.
    A través de reuniones o comunicaciones telefónicas.
    Forma de recolección de Socios
    Recolección de los datos personales de socios
    La recolección de datos personales de los socios se realizará de las siguientes formas:
    A través de la suscripción de acciones.
    Mediante reuniones de órganos directivos o asambleas generales de accionistas y sus respectivas convocatorias.
    A través del intercambio de correos electrónicos u otros medios de comunicación con los accionistas.
  </p>
  <h3 class="legal-title">FINALIDADES DEL TRATAMIENTO DE LOS DATOS PERSONALES</h3>
  <p class="legal-text">
    Los Datos Personales que recolecta SOFCOR SAS., son incluidos en una Base de Datos a la cual tiene acceso el
    personal
    autorizado de SOFCOR SAS. en ejercicio de sus funciones, advirtiendo que en ningún caso está autorizado el
    Tratamiento
    de la información para fines diferentes a los aquí descritos, y que le sean comunicados al Titular directamente a
    más
    tardar al momento de la recolección.
    Finalidad de tratamiento de los datos personales de los Usuarios
    Recabar o recolectar los datos personales e incorporarlos y almacenarlos en nuestra base de datos.
    Ordenar, catalogar, clasificar, dividir o separar la información suministrada.
    Utilizar los datos suministrados en campañas de comunicación, divulgación y promoción u oferta de productos,
    actividades
    y/o servicios desarrollados como parte de estrategias internas de la compañía.
    Conservar registros históricos de la compañía y mantener contacto con los titulares del dato.
    Verificar, comprobar o validar los datos suministrados.
    Estudiar y analizar la información entregada para el seguimiento y mejoramiento de los productos, el servicio y la
    atención.
    Entregar la información recolectada a terceros con los que la compañía contrate el almacenamiento y administración
    de
    los datos personales, bajo los estándares de seguridad y confidencialidad a los cuales SOFCOR SAS. está obligada
    según
    lo contenido en las leyes pertinentes.
    Transferir los datos personales a cualquier país o servidor en otro país.
    Comunicar y permitir el acceso a los datos personales suministrados a terceros proveedores de servicios de apoyo
    general
    y a las personas naturales o jurídicas accionistas de SOFCOR SAS.
    Recabar, tener, manejar y utilizar la información para realizar control y prevención del fraude, control y
    prevención de
    lavado de activos y financiación del terrorismo.
    Celebración, ejecución y gestión de las propuestas de negocios y contratos objeto de los servicios prestados.
    Realizar de conformidad con la ley los reportes a centrales de riesgo por incumplimiento de las obligaciones
    financieras
    derivadas de la relación comercial.
    Envío de comunicaciones a través de cualquier canal incluyendo, pero sin limitarse a, redes sociales, mensajes de
    texto,
    notificaciones push, correo electrónico, llamada telefónica, etc., relacionadas con el objeto social de SOFCOR SAS.
    tales como a actividades de mercadeo y/o cualquier solicitud realizada por el titular a Sofcor SAS., entre otros.
    Prestar los servicios ofrecidos y/o contratados de forma adecuada y con una excelente calidad.
    Creación y administración de la cuenta del usuario.
    Prestar el mantenimiento, desarrollo y/o control de la relación comercial entre el usuario y SOFCOR SAS.
    Proveer a los usuarios de la información necesaria, a través de la página Web y/o plataforma de contacto, sobre los
    productos de los oferentes, para formalizar la relación de consumo de dichos productos.
    Realizar procesos al interior de la empresa, con fines de desarrollo operativo y/o de administración de sistemas.
    Prestar los servicios de la empresa y realizar el seguimiento de acuerdo con las necesidades particulares del
    usuario,
    con el fin de brindar los servicios y productos adecuados para cubrir sus necesidades específicas.
    Llevar un registro histórico de la información, con fines de satisfacción al usuario desarrollando análisis sobre
    los
    intereses y necesidades; brindando de esta manera un mejor servicio.
    Realizar estrategias de mercado mediante el estudio del comportamiento del usuario frente a las ofertas y con ello
    mejorar en su contenido, personalizando presentación y servicio.
    Elaboración de prospecciones comerciales y segmentación de mercados.
    Realizar encuestas de satisfacción y ofrecimiento o reconocimiento de beneficios propios de nuestro programa de
    lealtad
    y servicio postventa, para calificar el servicio y la atención por medio de los canales dispuestos para ello.
    Adelantar las actividades necesarias para gestionar las solicitudes, quejas y reclamos de los usuarios de la empresa
    o
    tercero; y direccionarlos a las áreas responsables de emitir las respuestas correspondientes.
    Presentar reportes ante las autoridades de inspección, vigilancia y control, y tramitar los requerimientos
    realizados
    por entidades administrativas o judiciales.
    Gestión contable, económica, fiscal y administrativa de usuarios.
    Conservación de la información por los términos establecidos en la Ley, especialmente el referente a la información
    de
    los libros y papeles del comerciante que deberá ser almacenada por un período de diez (10) años, según lo dispone el
    artículo 28 de la Ley 962 de 2005.
    Transferencia o Transmisión de Datos Personales nacional o internacionalmente a terceros con los que SOFCOR SAS.
    desarrolle actividades en cumplimiento de su objeto social. Asimismo, se podrá hacer Transmisión o Transferencia a
    los
    aliados estratégicos de la empresa para que ejecuten actividades de marketing, publicidad y promociones asociadas
    con el
    objeto social; todo de acuerdo con las disposiciones de la normativa colombiana.
    Remitir información a los Encargados del Tratamiento para facilitar y mejorar la calidad del servicio de SOFCOR SAS.
    Solicitar la autorización de cobro ante las entidades definidas y autorizadas para ello.
    Transferir y transmitir sus datos personales a terceros aliados comerciales de SOFCOR SAS. que ofrecen sus productos
    y
    servicios en la Plataforma de SOFCOR SAS., con el fin de hacer eficiente el contacto entre el Titular y el aliado
    comercial, en los términos del artículo 53 de la Ley 1480 de 2011.
    Finalidad de tratamiento de los datos de los trabajadores y colaboradores
    Adelantar auditorías y administrar los sistemas y bases de datos.
    Contactar a los trabajadores y colaboradores para el envío de información referida a la relación contractual y
    obligacional que tienen con SOFCOR SAS.
    Conocer, almacenar y procesar toda la información suministrada por los trabajadores y colaboradores en una o varias
    bases de datos, en el formato que estime más conveniente.
    Dar cumplimiento a las obligaciones contraídas en su calidad de responsable del tratamiento con el titular de la
    información, con relación al pago de salarios, prestaciones sociales y demás retribuciones consagradas en el
    contrato de
    trabajo o según lo disponga la ley y el contrato.
    Desarrollo de programas de prevención y promoción de la salud y seguridad en el trabajo con base en la información
    médica y de salud ocupacional desde el momento del ingreso, así como durante la ejecución y culminación de las
    actividades asignadas.
    Desarrollo de programas de formación, capacitación y entrenamiento según el cargo del trabajador y/o colaborador.
    Ejecutar los contratos que se hayan celebrado con los trabajadores y colaboradores.
    Gestionar, mantener, desarrollar y controlar la relación contractual existente entre SOFCOR SAS. y los trabajadores
    y
    colaboradores, atender sus solicitudes de información, así como la gestión de sus reclamaciones, trámite de sus
    solicitudes de terminación del contrato y/o de revocación de la autorización para el tratamiento de datos
    personales.
    Gestionar las consultas realizadas por los trabajadores y colaboradores.
    Gestionar información asociada a la eventual comisión de hechos o circunstancias que impliquen el desarrollo de
    procedimientos de control ético o disciplinario de conformidad con las disposiciones del reglamento interno
    aplicable y
    demás disposiciones normativas aplicables.
    La generación de copias y archivos de seguridad de la información en los equipos proporcionados por SOFCOR SAS..
    Ordenar, catalogar, clasificar, dividir o separar la información suministrada por los trabajadores y colaboradores.
    Ofrecer programas de bienestar corporativo y planificar actividades empresariales, para los trabajadores y
    colaboradores
    y sus beneficiarios.
    Para atender las exigencias legales y requerimientos de información de las autoridades administrativas, de la
    seguridad
    social y judicial que regulen, supervisen o vigilen las actividades y operaciones de SOFCOR SAS., previo
    cumplimiento
    del debido proceso.
    Para el cumplimiento del Reglamento Interno de Trabajo, así como de las políticas internas de SOFCOR SAS.
    Para verificar la información contenida en la hoja de vida suministrada a SOFCOR SAS.
    Prevenir el fraude o el uso inadecuado de la información, programas, instalaciones y/o equipos a los que en virtud
    de la
    relación laboral los trabajadores y/o colaboradores tengan acceso.
    Registrar la información del grupo familiar de los trabajadores y colaboradores de SOFCOR SAS. para el cumplimiento
    de
    los deberes que la Ley señala, así como para hacerlos participes de las actividades de bienestar o beneficios que
    provea
    SOFCOR SAS.
    Realizar un control de acceso a las instalaciones de SOFCOR SAS.
    Recolectar datos para el cumplimiento de los deberes que, como Responsable de la información y de los datos
    personales,
    le corresponden a SOFCOR SAS.
    Recolectar información depositadas en centrales de riesgo.
    Satisfacer obligaciones legales, como las relacionadas con la prevención de lavado de activos y financiación del
    terrorismo.
    Verificar, corroborar, comprobar, validar, investigar o comparar la información suministrada por los trabajadores y
    colaboradores, con cualquier información de que disponga legítimamente.
    Para la emisión de certificaciones laborales a solicitud de los trabajadores y colaboradores y/o de cualquier
    autoridad
    competente.
    Para contactar a acudientes de trabajadores y colaboradores en caso de emergencia.
    Clasificar, almacenar y archivar los datos personales de los trabajadores y colaboradores.
    Conservación de la información por los términos establecidos en la Ley, especialmente el referente a la información
    de
    los libros y papeles del comerciante que deberá ser almacenada por un período de diez (10) años, según lo dispone el
    artículo 28 de la Ley 962 de 2005.
    Para informar a los clientes y proveedores de los equipos de trabajo en SOFCOR SAS.
    Verificar, comparar y evaluar las competencias laborales y personales de los trabajadores y colaboradores.
    Envío ofertas de trabajo.
    Envío de comunicaciones a través de cualquier canal, con ocasión de actividades de mercadeo y asistencia
    contractual.
    Garantizar la seguridad de bienes y personas en entornos privados de SOFCOR SAS..
    Grabar y utilizar las grabaciones de cámaras del circuito cerrado de televisión o imágenes, para realizar
    investigaciones o sanciones de índole disciplinarias o penales según sea el caso.
    Validación de información de ingreso y egreso de las instalaciones físicas de SOFCOR SAS.
    Establecimiento de un sistema de identificación biométrica en su esquema de seguridad.
    Transferencia y transmisión de datos nacional o internacionalmente de llegar a ser procedente, para los fines
    relacionados con la operación de SOFCOR SAS., de acuerdo con las disposiciones de ley y garantizando siempre el
    cumplimiento de los requisitos establecidos en la normativa colombiana.
    Finalidad de tratamiento de los datos de los candidatos
    Clasificar, almacenar y archivar los datos personales de los candidatos de los procesos de selección.
    Verificar y obtener referencias de personas naturales y/o jurídicas, suministradas por los candidatos en hojas de
    vida,
    formularios, entre otros.
    Entregar o transmitir la información a terceros encargados de los procesos de selección.
    Verificar, comparar y evaluar las competencias laborales y personales de los candidatos respecto de los criterios de
    selección.
    Cumplir con los deberes legales a los que está obligada la empresa.
    Envío de ofertas laborales.
    Envío de comunicaciones a través de cualquier canal, con ocasión de actividades de mercadeo y asistencia
    pre-contractual.
    Garantizar la seguridad de bienes y personas en entornos privados de SOFCOR SAS.
    Grabar y utilizar las grabaciones de cámaras del circuito cerrado de televisión o imágenes, para realizar
    investigaciones o imponer sanciones de índole disciplinario y/o penal según sea el caso.
    Validación de información de ingreso y egreso de las instalaciones físicas.
    Establecimiento de un sistema de identificación biométrica en su esquema de seguridad.
    Transferencia y transmisión de datos nacional o internacionalmente de llegar a ser procedente, para los fines
    relacionados con la operación de SOFCOR SAS., de acuerdo con las disposiciones de ley y garantizando siempre el
    cumplimiento de los requisitos establecidos en la normativa colombiana.
    Finalidad del tratamiento de los datos personales de Proveedores
    La recolección y tratamiento de los datos personales de los proveedores se hará con el fin de contactar y contratar
    los
    productos o servicios que SOFCOR SAS. requiera para el normal funcionamiento de su operación, de igual forma tendrá
    las
    siguientes finalidades:
    Recabar o recolectar los datos personales e incorporarlos y almacenarlos en la base de datos de SOFCOR SAS.
    Solicitar o realizar consultorías, auditorías, asesorías o servicios relacionados con los proveedores.
    Cumplir con los procesos internos de la empresa en materia de administración de proveedores y contratistas.
    Adelantar procesos al interior de la empresa, con fines de desarrollo operativo y/o de administración de sistemas.
    Realizar declaraciones tributarias o gestión de información tributaria y de recaudo.
    Mantener un registro de la información de proveedores.
    Realizar reportes ante las autoridades de inspección, vigilancia y control y/o responder a los requerimientos de
    entidades administrativas.
    Realizar el registro y control de entrada y salida de las instalaciones de SOFCOR SAS.
    Verificar la información aportada por los proveedores, para controlar y prevenir el fraude.
    Gestionar procedimientos administrativos para desarrollar cualquier otra actividad en cumplimiento de la relación
    entre
    proveedores y SOFCOR SAS.
    Conservación de la información por los términos establecidos en la Ley, especialmente el referente a la información
    de
    los libros y papeles del comerciante que deberá ser almacenada por un período de diez (10) años, según lo dispone el
    artículo 28 de la Ley 962 de 2005.
    Transferencia o transmisión de datos nacional o internacionalmente de llegar a ser procedente, para los fines
    relacionados con la operación de SOFCOR SAS., de acuerdo con las disposiciones de ley y garantizando siempre el
    cumplimiento de los requisitos establecidos en la normativa colombiana.
    Ordenar, catalogar, clasificar, dividir o separar la información suministrada.
    Utilizar los datos suministrados en campañas de comunicación, divulgación, promoción u oferta de productos,
    actividades
    o servicios desarrollados como parte de estrategias internas de SOFCOR SAS.
    Utilizar los datos para fines administrativos internos o comerciales tales como: estudios de crédito, elaboración y
    presentación de cotizaciones, facturas, referencias comerciales de experiencia, investigación de mercados, análisis
    estadísticos, realización de encuestas sobre satisfacción.
    Mantener contacto con los proveedores.
    Verificar, comprobar o validar los datos suministrados.
    Estudiar y analizar la información entregada para el seguimiento y mejoramiento del servicio y la atención.
    Recabar, tener, manejar y utilizar la información recibida para realizar la vinculación como proveedor.
    Recabar, tener, manejar y utilizar la información recibida para realizar control y prevención de fraude, control y
    prevención de lavado de activos y financiación del terrorismo.
    Celebración, ejecución y gestión de las propuestas de negocios y contratos objeto de los servicios prestados.
    Realizar de conformidad con la ley los reportes a centrales de riesgo por incumplimiento de las obligaciones
    financieras
    derivadas de la relación comercial.
    Realizar operaciones y gestiones relacionadas con la generación y pago de facturas, emisión de certificaciones,
    contabilidad, etc.
    Cumplimiento de deberes y obligaciones legales.
    Envío de comunicaciones a través de cualquier canal relacionadas con el objeto social de SOFCOR SAS., incluyendo,
    pero
    sin limitarse a actividades de mercadeo y/o cualquier solicitud realizada por el titular a SOFCOR SAS.
    Todos los demás usos administrativos y comerciales que se establezcan en los contratos o que deriven de su
    actividad.
    Finalidad del tratamiento de los datos personales de los Aliados
    Recabar o recolectar los datos personales e incorporarlos y almacenarlos en la base de datos de SOFCOR SAS.
    Ordenar, catalogar, clasificar, dividir o separar la información suministrada;
    Utilizar los datos suministrados en campañas de comunicación, divulgación, promoción u oferta de productos,
    actividades
    o servicios desarrollados como parte de estrategias internas de SOFCOR SAS.
    Utilizar los datos para fines administrativos internos o comerciales tales como: estudios de crédito, elaboración y
    presentación de cotizaciones, facturas, referencias comerciales de experiencia, investigación de mercados, análisis
    estadísticos, realización de encuestas sobre satisfacción.
    Conservar registros históricos de la compañía y mantener contacto con los titulares del dato.
    Verificar, comprobar o validar los datos suministrados.
    Estudiar y analizar la información entregada para el seguimiento y mejoramiento del servicio y la atención.
    Recabar, tener, manejar y utilizar la información recibida por el titular de la información para realizar la
    vinculación
    como cliente o proveedor.
    Recabar, tener, manejar y utilizar la información para realizar control y prevención de fraude, control y prevención
    de
    lavado de activos y financiación del terrorismo.
    Celebración, ejecución y gestión de las propuestas de negocios y contratos objeto de los servicios prestados.
    Realizar de conformidad con la ley los reportes a centrales de riesgo por incumplimiento de las obligaciones
    financieras
    derivadas de la relación comercial.
    Realizar operaciones y gestiones relacionadas con la generación y pago de facturas, emisión de certificaciones,
    contabilidad, etc.
    cumplimiento de deberes y obligaciones legales.
    Envío de comunicaciones a través de cualquier canal incluyendo pero sin limitarse a, redes sociales, mensajes de
    texto,
    notificaciones push, correo electrónico, llamada telefónica, etc., relacionadas con el objeto social de SOFCOR SAS.
    tales como a actividades de mercadeo y/o cualquier solicitud realizada por el titular a Sofcor SAS., entre otros.
    Transferencia y transmisión de datos nacional o internacionalmente de llegar a ser procedente, para los fines
    relacionados con la operación de SOFCOR SAS., de acuerdo con las disposiciones de ley y garantizando siempre el
    cumplimiento de los requisitos establecidos en la normativa colombiana.
    Finalidad del tratamiento de los datos personales de Socios
    La recolección y tratamiento de los datos personales de los socios de SOFCOR SAS. tendrá carácter privado y se
    realizará
    con el fin de permitir el ejercicio de derechos y deberes relacionados con tal condición, así como para llevar a
    cabo
    las siguientes finalidades:
    Realizar el registro de gestión económica, contable, fiscal, y administrativa.
    Realizar la emisión de certificaciones relativas a la titularidad de las acciones, así como expedición de
    certificados
    de acciones y las demás necesarias para el desarrollo adecuado del objeto social, previa autorización de los mismos.
    Realizar Procesos al interior de la Institución, con fines de desarrollo operativo y/o de administración de
    sistemas.
    Realizar cualquier otra finalidad necesaria para el desarrollo de los derechos y deberes inherentes a su calidad de
    accionistas.
    Conservación de la información por los términos establecidos en la Ley, especialmente el referente a la información
    de
    los libros y papeles del comerciante que deberá ser almacenada por un período de diez (10) años, según lo dispone el
    artículo 28 de la Ley 962 de 2005.
    Transferencia o transmisión de datos nacional o internacionalmente de llegar a ser procedente, para los fines
    relacionados con la operación de SOFCOR SAS., de acuerdo con las disposiciones de ley y garantizando siempre el
    cumplimiento de los requisitos establecidos en la normativa colombiana.
    Para otras finalidades o tratamiento se pedirá autorización previa, expresa e informada al Titular.
    AUTORIZACIÓN Y CONSENTIMIENTO DEL TITULAR
    El consentimiento y autorización por parte del Titular de la información es un requisito constitucional y legal que
    deben cumplir las personas responsables del tratamiento de datos personales. El consentimiento debe cumplir con los
    siguientes presupuestos:
    Previo: La autorización la debe dar el Titular de información de manera previa a cualquier tipo de Tratamiento de
    datos
    personales.
    Expreso: La autorización debe otorgarse de forma inequívoca, clara y específica.
    Informado: El Titular debe comprender claramente para qué serán tratados sus datos personales y las finalidades que
    pueden derivarse del Tratamiento de los mismos.
    Todos los visitantes de las Plataformas de SOFCOR SAS. deben registrarse y autorizar el tratamiento de los datos
    personales para poder hacer uso de los servicios ofrecidos. Por tanto, en cada uno de los sistemas se encuentra una
    casilla que dice “Política de privacidad y Tratamiento de Datos Personales” la cual debe ser leída y aceptada para
    poder
    continuar con el uso de los servicios de SOFCOR SAS.
    Obtención de Datos Recolectados Antes de la Vigencia del Decreto 1377 de 2013
    Para la obtención o recolección de Datos Personales de los Titulares obtenidos antes de la vigencia del Decreto 1377
    de
    2013, se buscará obtener la autorización a través de mecanismos eficientes de comunicación. Se entiende por
    mecanismos
    eficientes de comunicación aquellos que la Compañía usa en el curso ordinario de su interacción con los Titulares
    como
    correos electrónicos, llamadas telefónicas entre otros.
    CANALES DE ACCESO Y MECANISMOS DISPUESTOS POR SOFCOR SAS.
    En desarrollo de la garantía constitucional de Habeas Data respecto de los derechos de acceso, actualización,
    rectificación y supresión por parte del Titular de los datos personales, sus causahabientes, representantes legales
    y/o
    apoderados, SOFCOR SAS. habilitará canales de acceso para los Titulares.
    Todas las comunicaciones, consultas, quejas y/o reclamos deberán ser dirigidas al Oficial de Protección de Bases de
    Datos Personales o al ÁREA DE COSTUMER CARE/SERVICIO AL CLIENTE de SOFCOR SAS., por cualquiera de los siguientes
    medios:
    Usuarios
    Atención electrónica: El Titular del dato podrá realizar la solicitud a través del Centro de Ayuda disponible en la
    plataforma de contacto SOFCOR.
    Atención escrita: El Titular del dato deberá realizar su requerimiento formal en la dirección Calle 93 # 19-58,
    Bogotá
    D.C. Colombia, acreditando de forma previa y suficiente su identidad.
    SIC Facilita: El Titular tiene la posibilidad de acudir al canal dispuesto por la Superintendencia de Industria y
    Comercio.
    Aliados
    Atención electrónica: El Titular del dato podrá realizar la solicitud a través del Centro de Ayuda disponible en la
    plataforma denominada comercialmente “SOFCOR Aliados”.
    Atención escrita: El Titular del dato deberá realizar su requerimiento formal a la dirección: Calle 93 # 19-58 de
    Bogotá, Colombia.
    Atención verbal: El Aliado se podrá comunicar con el asesor de SOFCOR encargado de su relación con SOFCOR SAS.
    PROCEDIMIENTO LEGAL PARA CONSULTAS QUEJAS Y RECLAMOS
    Las consultas, quejas o reclamos podrán ser presentados a través de un documento con las características que se
    describen en cada uno de los supuestos o mediante el formulario de consultas quejas y reclamos que podrán consultar
    en
    www.SOFCOR.com en la opción Centro de Ayuda.
    Consultas
    Tratándose del derecho de petición en calidad de información y/o consultas, SOFCOR SAS. dará respuesta en un término
    máximo de diez (10) días hábiles contados a partir del día siguiente a la fecha de recepción de la petición o
    consulta.
    Cuando no fuere posible atender la consulta dentro de dicho término se informará al interesado, indicando los
    motivos de
    la demora y señalando la fecha en que esta se atenderá, la cual en ningún caso podrá superar cinco (5) días hábiles
    siguientes al vencimiento del primer término. El documento de consulta deberá contener lo siguiente:
    Área de SOFCOR SAS. a la cual va dirigida (Costumer care/Servicio al Cliente)
    El nombre y número de identificación del Titular.
    Copia documento de identidad del titular
    En caso de que el causahabiente del Titular solicite la consulta, deberá adjuntar a la consulta:
    Área de SOFCOR SAS. a la cual va dirigida (Costumer care/Servicio al cliente)
    El nombre y número de identificación del Titular.
    Copia Documento de identidad del Causahabiente.
    Copia Registro civil de defunción del Titular.
    Documento que acredite la calidad en que obra.
    Copia documento de identidad del Titular.
    Descripción completa de la consulta.
    Dirección y datos de contacto del consultante.
    Si se trata del representante legal y/o apoderado del Titular, deberá presentar:
    Área de SOFCOR SAS. a la cual va dirigida (Costumer care/Servicio al Cliente)
    El nombre y número de identificación del Titular.
    Copia Documento de identidad del representante legal
    Documento que acredite la calidad en la que obra (poder, certificación).
    Copia documento de identidad del Titular.
    En caso de que el apoderado sea menor de edad, deberá presentar la tarjeta de identidad y/o el registro civil y el
    documento que acredite la calidad de representante o custodio del menor.
    Descripción completa de la consulta.
    Dirección y datos de contacto del consultante.
    Quejas y/o reclamos
    Cuando el Titular considere que su información debe ser objeto de corrección, actualización o supresión o cuando
    advierta un presunto incumplimiento de cualquiera de sus derechos, el término máximo para atender la queja o reclamo
    será de quince (15) días hábiles contados a partir del día siguiente a la fecha de recepción del documento.
    Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la
    demora
    y la fecha en que será atendido, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al
    vencimiento del primer término. Si el reclamo resulta incompleto, se requerirá al interesado dentro de los cinco (5)
    días siguientes a la recepción de la queja y/o reclamo para que subsane las fallas. Transcurridos dos (2) meses
    desde la
    fecha del requerimiento sin que el solicitante presente la información requerida, se entenderá desistida la queja o
    reclamo. El documento de queja o reclamo deberá contener:
    Área de SOFCOR SAS. a la cual va dirigida (Constumer Care/Servicio al cliente)
    El nombre y número de identificación del Titular.
    Copia documento de identidad del titular
    En caso de que el causahabiente del Titular presente la queja y/o reclamo, deberá adjuntar:
    Área de SOFCOR SAS. a la cual va dirigida (Constumer Care/Servicio al Cliente)
    El nombre y número de identificación del Titular.
    Copia documento de identidad del titular
    Copia Documento de identidad del Causahabiente
    Copia Registro civil de defunción del Titular.
    Descripción completa de la consulta.
    Dirección y datos de contacto del consultante.
    Documento que acredite la calidad en que obra.
    Si se trata de un representante legal y/o apoderado:
    Área de SOFCOR SAS. a la cual va dirigida (Constumer Care)
    El nombre y número de identificación del Titular.
    Copia documento de identidad del titular
    Copia Documento de identidad del representante legal
    Documento que acredite la calidad en la que obra (poder, certificación).
    En caso de que el apoderado sea menor de edad, deberá presentar la tarjeta de identidad y/o el registro civil y el
    documento que acredite la calidad de representante o custodio del menor.
    Descripción de los hechos que dan lugar al reclamo y/o queja.
    El objeto perseguido.
    Dirección y datos de contacto del reclamante.
    TRATAMIENTO DE DATOS PERSONALES SENSIBLES
    SOFCOR SAS. no recolectará, almacenará o tratará datos sensibles, a menos que sea estrictamente necesario. De
    presentarse dicha situación, no realizará ningún tratamiento sin la debida autorización previa, informada y expresa
    del
    Titular de la información, salvo en los casos que por ley no sea requerido el otorgamiento de la misma y se presente
    alguna de las siguientes excepciones:
    Cuando el tratamiento sea necesario para salvaguardar el interés vital del Titular y este se encuentre física o
    jurídicamente incapacitado.
    Cuando el tratamiento sea efectuado en el curso de las actividades legítimas y con las debidas garantías por parte
    de
    una fundación, ONG, asociación o cualquier otro organismo sin ánimo de lucro, cuya finalidad sea política,
    filosófica,
    religiosa o sindical, siempre que se refieran exclusivamente a sus miembros o a las personas que mantengan contactos
    regulares por razón de su finalidad, en cuyos casos, los datos no se podrán suministrar a terceros sin la
    autorización
    del Titular.
    Cuando el tratamiento se refiera a datos que sean necesarios para el reconocimiento, ejercicio o defensa de un
    derecho
    en un proceso judicial.
    Cuando el tratamiento tenga una finalidad histórica, estadística o científica. En este evento deberán adoptarse las
    medidas conducentes a la supresión de identidad de los Titulares.
    Cuando se realice en cumplimiento de una orden pública o administrativa en ejercicio de sus funciones legales o por
    orden judicial.
    Las respuestas a las preguntas sobre datos sensibles son facultativas, por lo tanto, no serán obligatorias. En todo
    caso, SOFCOR SAS. observará estrictamente las limitaciones legales al Tratamiento de Datos Sensibles. SOFCOR SAS.,
    no
    condicionará, en ningún caso, ninguna actividad a la entrega de Datos Sensibles. Los Datos Sensibles serán tratados
    con
    la mayor diligencia posible y con los estándares de seguridad más altos. El acceso limitado a los Datos Sensibles
    será
    un principio rector para salvaguardar la privacidad de estos y, por lo tanto, sólo el personal autorizado podrá
    tener
    acceso a ese tipo de información
    No podrá realizarse el tratamiento de datos sensibles para fines distintos de los autorizados expresamente por el
    Titular
    TRANSMISIÓN Y/O TRANSFERENCIA NACIONAL O INTERNACIONAL
    SOFCOR SAS. podrá compartir la información de los datos personales con aquellos terceros que sea necesario para el
    desarrollo de sus actividades y objeto social, siempre protegiendo los derechos e información del titular del dato.
    La Transmisión o Transferencia de Datos Personales que se realice observará las reglas que para tal efecto disponga
    la
    normatividad aplicable y la autoridad de control, especialmente las siguientes:
    Cuando se trate de transmisiones o transferencias nacionales de datos personales, SOFCOR SAS. se asegurará del
    cumplimiento de las exigencias de la legislación de protección de datos vigente y las medidas de protección por
    parte
    del encargado o nuevo responsable, según sea el caso.
    De tratarse de una transferencia internacional se deberá asegurar que el país receptor de los datos personales
    proporcione niveles adecuados de protección, de la forma que establezca la Autoridad de Control en Colombia, para
    que la
    misma profiera la declaración de conformidad a la que se refiere el parágrafo primero del artículo 26 de la Ley 1581
    de
    2012. Cuando el país receptor no cumpla con los estándares adecuados de protección de datos, la transmisión o
    transferencia quedará prohibida a menos que se configure alguna de las siguientes excepciones legales:
    Que el Titular haya dado autorización expresa e inequívoca para la transferencia o transmisión de datos.
    Intercambio de datos de carácter médico cuando así lo exija el tratamiento del Titular por razones de salud e
    higiene
    pública.
    Transferencias bancarias o bursátiles, conforme a la legislación que les resulte aplicable.
    Transferencias acordadas en el marco de tratados internacionales en los cuales Colombia sea parte, con fundamento en
    el
    principio de reciprocidad
    Transferencias necesarias para la ejecución de un contrato entre el Titular y el responsable del tratamiento, o la
    ejecución de medidas precontractuales siempre y cuando se cuente con autorización del Titular.
    VIGENCIA
    La presente Política entra en vigencia a partir del día 17 de julio de 2020.
    Los Datos Personales que sean almacenados, utilizados o transmitidos permanecerán en las bases de datos de SOFCOR
    SAS.
    durante el tiempo que sea necesario para cumplir con las finalidades expuestas en este manual o para que la Empresa
    pueda cumplir con sus deberes legales.
    Sin embargo, la información será revisada cada año para verificar la veracidad del dato y finalidad de seguir con su
    tratamiento. De ser necesario SOFCOR SAS. se reserva el derecho a modificar la presente Política de forma
    unilateral;
    sin perjuicio de esto, en caso de generarse algún cambio sustancial sobre la Política, se comunicará a los
    Titulares.
  </p>
</ion-content>