<ion-content class="ion-padding">
  <div class="main-section">
    <ion-row class="row-section">
      <div class="img-logo">
        <img src="assets/images/logo.webp" class="img-logo">
        <ion-text color="dark">
          <h2 class="ion-no-margin ion-text-center ion-margin-vertical">Registrarse</h2>
        </ion-text>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="Nombres" [(ngModel)]="firstName" class="input-field ion-padding-horizontal">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" placeholder="Apellidos" [(ngModel)]="lastName"
          class="input-field ion-padding-horizontal">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="email" placeholder="Correo" [(ngModel)]="email"
          class="input-field ion-padding-horizontal"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="password" placeholder="Contraseña" [(ngModel)]="password"
          class="input-field ion-padding-horizontal"></ion-input>
      </ion-col>
    </ion-row>
    <div class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="undefined" class="btn-transition" (click)="signup()"><strong>Crear una
              Cuenta</strong></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" color="undefined" (click)="util.navigate('login')"
            class="btn-color"><strong>¿Tiene una cuenta? Ingresar</strong></ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>