<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tiendas12
    </ion-title>
    <!-- <ion-buttons slot="end" (click)="openCart()" #cart>
      <ion-button>
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="categorias-list">
    <ion-col class="category-item deals-category" *ngFor="let item of items" size="{{item.tamano}}">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="item.imagen">
        <app-aspect-ratio [ratio]="{w:100, h:35}">
          <a class="category-anchor" (click)="openTiendas(item.id, item.categoria)">
            <h2 class="category-title">{{item.categoria}}</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
  </ion-row>
</ion-content>
<!-- <ion-footer>
  <div style="text-align: center;font-size: 10px;">
    Versión {{version}}
  </div>
</ion-footer> -->