<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="directorios">
      <ion-icon name="call"></ion-icon>
      <ion-label>Directorio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicios">
      <ion-icon name="water"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="restaurantes">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Restaurantes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tiendas">
      <ion-icon name="home"></ion-icon>
      <ion-label>Tiendas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>