<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Confirmación</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="login-content">
  <ion-row class="user-details-wrapper">
    <ion-col size="2">
    </ion-col>
    <ion-col size="8">
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell animation="spinner" [src]="'./assets/images/logo.webp'"></app-image-shell>
      </app-aspect-ratio>
    </ion-col>
    <ion-col size="2">
    </ion-col>
  </ion-row>
  <h5 class="ingresar">
    <br />
    Pedido No. <strong>{{pedido}}</strong>
    <br />
    <br />
    Gracias por elegirnos.
    <br />
    <br />
    Su pedido ha sido confirmado y pronto estará en camino.
    <br />
    <br />
  </h5>

  <ion-button #finalizar expand="full" (click)='continuar()'>
    Continuar
  </ion-button>
</ion-content>